<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joaomgcd.taskerpluginlibrary">

    <application>

        <receiver
            android:name=".action.BroadcastReceiverAction"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <service
            android:name=".action.IntentServiceAction"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </service>
        <service
            android:name=".condition.IntentServiceCondition"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </service>

        <receiver
            android:name=".condition.BroadcastReceiverCondition"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
