<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!--Necessary to launch activities from background-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name=".ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLaunchedFromPlugin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fromplugin"
                    android:scheme="taskerpluginsample" />
            </intent-filter>
        </activity>
        <activity android:name=".tasker.backgroundwork.ActivityBackgroundWork" />

        <activity
            android:name=".tasker.helloworld.HelloWorldActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Hello World">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.launchactivity.LaunchActivityActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Launch Activity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.outputorerror.OutputOrErrorActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Output Or Error">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.backgroundwork.BackgroundWorkActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Background Work">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.dynamicinput.DynamicInputActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Dynamic Input">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tasker.togglecondition.ToggleConditionActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Toggle Condition">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joaomgcd.taskerpluginsample.tasker.gettime.ActivityConfigGetTime"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Time">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.getip.ActivityConfigGetIP"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Public IP">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.getartists.GetArtistsActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Artists Info">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.joaomgcd.taskerpluginsample.tasker.gottime.ActivityConfigGotTime"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Got Time">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.playstatechanged.PlayStateChangedActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Play State Changed">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.basic.ActivityConfigBasicAction"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Basic Action">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.basic.ActivityConfigBasicEvent"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Basic Event">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.basic.ActivityConfigBasicState"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Basic State">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.joaomgcd.taskerpluginsample.tasker.togglingcondition.ActivityConfigTogglingCondition"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Toggling">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
    </application>
</manifest>
